form {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-family: "Helvetica";
  width: 300px;
}
input {
  text-transform: capitalize;
}
.select {
  width: 150px;
}
.input-small {
  padding: 15px;
}
.input-med {
  padding: 18px;
}
.input-large {
  padding: 20px;
}
